<button class="chatbot-toggler">
    <span class="material-symbols-rounded">mode_comment</span>
    <span class="material-symbols-outlined">close</span>
  </button>
  
  <div class="chatbot">
    <header>
      <h2>Chatbot</h2>
      <span class="record-btn material-symbols-outlined">mic</span>
      <span class="chat-list-btn material-symbols-outlined">list</span>
      <span class="new-chat-btn material-symbols-outlined" id="newChat" >add</span>
    </header>
    
    <ul class="chatbox">
      <li class="chat-list" style="display: none;">
          
      </li>
      <li class="chat incoming">
        <span class="material-symbols-outlined">smart_toy</span>
        <p>안녕하세요! 👋<br>무엇을 도와드릴까요? 자원봉사 활동에 대한 정보나 예약 확인이 필요하시다면 말씀해 주세요.</p>
      </li>
    </ul>
    <div class="chat-input">
      <textarea placeholder="Enter a message..." spellcheck="false" required></textarea>
      <span id="send-btn" class="material-symbols-rounded">send</span>
    </div>
