<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>글쓰기</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600&family=Roboto&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/userAssets/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/userAssets/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/userAssets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/userAssets/css/style.css" rel="stylesheet">
    <link href="/userAssets/css/home.css" rel="stylesheet">
    <link href="/userAssets/css/noinHome.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/userAssets/css/boyugProgram.css" rel="stylesheet">

</head>

<body>

<!-- Spinner Start -->
<div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<!-- Spinner End -->

<!-- Topbar Start -->
<!--<div th:replace="~{userView/modules/topbar}"></div>-->
<!-- Topbar End -->

<!-- Navbar & Hero Start -->
<div class="container-fluid position-relative p-0">
    <div th:replace="~{userView/modules/navbar}"></div>
</div>

<div class="container-fluid about py-5">
    <div class="container py-5 child-container">
        <div class="login-box col-8">
            <form action="boyugProgramWrite" method="post">
                <div class="card">
                    <br>
                    <h1>활동 모집글 작성</h1><br>
                    <div class="form-group">
                        <label for="title">제목</label>
                        <input type="text" id="title" name="boyugProgramName" placeholder="제목을 입력해주세요." required>
                    </div>
    <!--                <div class="form-group">-->
    <!--                    <label for="writer">작성자</label>-->
    <!--                    <input type="text" id="writer" readonly>-->
    <!--                </div>-->
                    <div class="form-group">
                        <label for="content">설명</label>
                        <textarea datatype="text" id="content" name="boyugProgramDesc" rows="3" required></textarea>
                    </div>
                    <div class="form-group">
                        <label>게시글 공개 여부</label>
                        <select name="boyugProgramIsOpen" style="width:20%" required>
                            <option value="true" selected>공개</option>
                            <option value="false">비공개</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button id="addActivity">활동 추가</button>
                    </div>
                    <hr>
                    <div class="inline-form-group" id="activityGroup">
                        <div class="inline-form-group" id="session-group0">
                            <div class="form-group">
                                <label>활동</label>
                                <select class="form-select session-select" name="programDetails[0].sessionId" required>
                                    <option>활동 목록</option>
                                    <th:block th:each="session1:${sessions}">
                                        <option th:value="${session1.sessionId}" th:text="${session1.sessionName}"></option>
                                    </th:block>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>활동 일자</label>
                                <input type="date" name="programDetails[0].boyugProgramDetailDate" required>
                            </div>
                            <div class="form-group">
                                <label>시작 시간</label>
                                <input type="time" name="programDetails[0].boyugProgramDetailStartTime" required>
                            </div>
                            <div class="form-group">
                                <label>종료 시간</label>
                                <input type="time" name="programDetails[0].boyugProgramDetailEndTime" required>
                            </div>
                            <div class="form-group small-input">
                                <label>참여 인원</label>
                                <input type="number" name="programDetails[0].boyugProgramDetailChild" required>
                            </div>
                            <div class="form-group small-input">
                                <label>모집 인원</label>
                                <input type="number" name="programDetails[0].programDetailPerson" required>
                            </div>
                            <div class="form-group extra-small-input">
                                <label>공개 여부</label>
                                <select name="programDetails[0].boyugProgramDetailIsOpen" class="form-select" required>
                                    <option value="true">공개</option>
                                    <option value="false">비공개</option>
                                </select>
                            </div>
                            <div class="form-group extra-small-input">
                                <label>삭제</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group text-center">
                    <button type="submit">작성</button>
                    <button type="button" id="cancel">취소</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Footer Start -->
<div th:replace="~{userView/modules/footer}"></div>
<!-- Footer End -->

<!-- Back to Top -->
<a href="#" class="btn btn-primary btn-primary-outline-0 btn-md-square back-to-top"><i class="fa fa-arrow-up"></i></a>

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script type="text/javascript">
    $(function() {
    
        let count = 0;

        $('#addActivity').on('click', function() {

            event.preventDefault();
            event.stopPropagation();


            const sessions = $('.session-select').html();
            if (count <= 1) {
            count++;
            const activityCode = `
                <div class="inline-form-group" id="session-group${count}">
                    <div class="form-group">
                        <select class="form-select" name="programDetails[${count}].sessionId" required>
                            ${sessions}
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="date" name="programDetails[${count}].boyugProgramDetailDate" required>
                    </div>
                    <div class="form-group">
                        <input type="time" name="programDetails[${count}].boyugProgramDetailStartTime" required>
                    </div>
                    <div class="form-group">
                        <input type="time" name="programDetails[${count}].boyugProgramDetailEndTime" required>
                    </div>
                    <div class="form-group small-input">
                        <input type="number" name="programDetails[${count}].boyugProgramDetailChild" required>
                    </div>
                    <div class="form-group small-input">
                        <input type="number" name="programDetails[${count}].programDetailPerson" required>
                    </div>
                    <div class="form-group extra-small-input">
                        <select name="programDetails[${count}].boyugProgramDetailIsOpen" class="form-select" required>
                           <option value="true">공개</option>
                           <option value="false">비공개</option>
                       </select>
                    </div>
                    <div class="form-group extra-small-input">
                        <button type="button" class="btn btn-danger btn-sm delete-session" id="delete-btn${count}" data-no="${count}">X</button>
                    </div>
                </div>
                    `;

            if (count > 1) {
                $(`#delete-btn${count-1}`).css('display', 'none');
            }
            $('#activityGroup').append(activityCode);
            } else {
                alert("활동은 최대 3개입니다.");
            }
        })

        $('#activityGroup').on('click', '.delete-session', function() {

            event.preventDefault();
            event.stopPropagation();

            const sessionNo = $(this).data('no');
            const sessionGroupNo = '#session-group' + sessionNo;

            const ok = confirm('해당 활동을 지우시겠습니까?');
            if (ok) {
                $(sessionGroupNo).remove();
                if (count > 1) {
                    $(`#delete-btn${count-1}`).css('display', 'block');
                }
                count--;

            }
        })

        $('#cancel').on('click', function() {

            event.preventDefault();
            event.stopPropagation();

            location.href = 'boyugProgramList';
        })

    })
</script>

<!-- JavaScript Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/userAssets/lib/easing/easing.min.js"></script>
<script src="/userAssets/lib/waypoints/waypoints.min.js"></script>
<script src="/userAssets/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/userAssets/lib/lightbox/js/lightbox.min.js"></script>

<!-- Template Javascript -->
<script src="/userAssets/js/main.js"></script>
<script src="/userAssets/js/account-login.js"></script>
</body>

</html>
