<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-bg-dark sidebar-color-primary shadow">
    <div class="brand-container">
        <a href="javascript:;" class="brand-link">
<!--            <span class="brand-text fw-light">관리자 페이지</span>-->
            <h1 class="m-0"><i class="fa-solid fa-children"></i> Together</h1>
        </a>
        <a class="pushmenu mx-1" data-lte-toggle="sidebar-mini" href="javascript:;" role="button"><i class="fas fa-angle-double-left"></i></a>
    </div>
    <!-- Sidebar -->
    <div class="sidebar">
        <nav class="mt-2">
            <!-- Sidebar Menu -->
            <ul class="nav nav-pills nav-sidebar flex-column" data-lte-toggle="treeview" role="menu" data-accordion="false">
                <li class="nav-item menu-open">
                    <a href="javascript:;" class="nav-link active">
                        <i class="nav-icon fas fa-circle"></i>
                        <p>
                            관리자 페이지
                            <i class="end fas fa-angle-right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="home" class="nav-link ">
                                <i class="nav-icon far fa-circle"></i>
                                <p>관리자 홈페이지</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="administrator" class="nav-link ">
                                <i class="nav-icon far fa-circle"></i>
                                <p>관리자 추가/제거</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="session" class="nav-link ">
                                <i class="nav-icon far fa-circle"></i>
                                <p>세션 관리</p>
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="nav-item menu-open">
                    <a href="javascript:;" class="nav-link active">
                        <i class="nav-icon fas fa-circle"></i>
                        <p>
                            회원 관리
                            <i class="end fas fa-angle-right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="userlist" class="nav-link ">
                                <i class="nav-icon far fa-circle"></i>
                                <p>회원정보 수정 및 탈퇴</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="userboyugprogram" class="nav-link ">
                                <i class="nav-icon far fa-circle"></i>
                                <p>보육회원 활동 내역</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="userdo" class="nav-link ">
                                <i class="nav-icon far fa-circle"></i>
                                <p>일반회원 활동 내역</p>
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="nav-item menu-open">
                    <a href="javascript:;" class="nav-link active">
                        <i class="nav-icon fas fa-circle"></i>
                        <p>
                            통계

                            <i class="end fas fa-angle-right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="statistics" class="nav-link ">
                                <i class="nav-icon far fa-circle"></i>
                                <p>통계 자료 표시</p>
                            </a>
                        </li>
                    </ul>
<!--                    <ul class="nav nav-treeview">-->
<!--                        <li class="nav-item">-->
<!--                            <a href="statistics2" class="nav-link ">-->
<!--                                <i class="nav-icon far fa-circle"></i>-->
<!--                                <p>연령별 회원수</p>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                    </ul>-->
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="statistics3" class="nav-link ">
                                <i class="nav-icon far fa-circle"></i>
                                <p>선호세션별 회원수</p>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="statistics4" class="nav-link ">
                                <i class="nav-icon far fa-circle"></i>
                                <p>등록날짜별 프로그램수</p>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="statistics5" class="nav-link ">
                                <i class="nav-icon far fa-circle"></i>
                                <p>날짜별 활동수</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item menu-open">
                    <a href="javascript:;" class="nav-link active">
                        <i class="nav-icon fas fa-circle"></i>
                        <p>
                            게시판 관리
                            <i class="end fas fa-angle-right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="inquirylist" class="nav-link ">
                                <i class="nav-icon far fa-circle"></i>
                                <p>공지&문의 게시판 관리</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item menu-open">
                    <a href="javascript:;" class="nav-link active">
                        <i class="nav-icon fas fa-circle"></i>
                        <p>
                            상담 신청 상태
<!--                            <span class="badge bg-info float-end me-3">2</span>-->
                            <i class="end fas fa-angle-right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="sangdam" class="nav-link ">
                                <i class="nav-icon far fa-circle"></i>
                                <p>상담 상태 수정</p>
                            </a>
                        </li>
                    </ul>
                </li>

<!--                <li class="nav-header">LABELS</li>-->
<!--                <li class="nav-item">-->
<!--                    <a href="javascript:;" class="nav-link">-->
<!--                        <i class="nav-icon far fa-circle text-danger"></i>-->
<!--                        <p class="text">중요한</p>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a href="javascript:;" class="nav-link">-->
<!--                        <i class="nav-icon far fa-circle text-warning"></i>-->
<!--                        <p>경고문</p>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a href="javascript:;" class="nav-link">-->
<!--                        <i class="nav-icon far fa-circle text-info"></i>-->
<!--                        <p>정보</p>-->
<!--                    </a>-->
<!--                </li>-->

            </ul>
        </nav>
    </div>
    <!-- /.sidebar -->
</aside>

