<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8">
        <title>센터/회원가입</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600&family=Roboto&display=swap" rel="stylesheet"> 

        <!-- Icon Font Stylesheet -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

        <!-- Libraries Stylesheet -->
        <link href="/userAssets/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="/userAssets/lib/lightbox/css/lightbox.min.css" rel="stylesheet">


        <!-- Customized Bootstrap Stylesheet -->
        <link href="/userAssets/css/bootstrap.min.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="/userAssets/css/style.css" rel="stylesheet">
        <link href="/userAssets/css/home.css" rel="stylesheet">
    </head>

    <body>

        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->

        <!-- Topbar Start -->
<!--        <div th:replace="~{userView/modules/topbar}"></div>-->
        <!-- Topbar End -->

        <!-- Navbar & Hero Start -->
        <div class="container-fluid position-relative p-0">
            <div th:replace="~{userView/modules/navbar}"></div>
        </div>

        <div class="container-fluid about py-5">
            <div class="container py-5" style="text-align: -webkit-center;">

                <div class="col-8 card" style="margin-top: 10rem; width: 40rem;">
                    <div class="form-floating">
                        <div lass="form-control border-0" style="background-color: white; height: 30vh; text-align: center; align-content: center;">
                            <div>가입 미승인 회원으로 현재 로그인이 불가합니다.</div>
                            <div style="margin-top:1rem;"><h5 style="display:inline;">관리자 승인 후 최종 가입완료</h5>되는 점 안내해드립니다.</div>
                        </div>
                    </div>
<!--                    <hr style="border:1px solid gray; border-bottom-style:hidden; !important; display: block !important;"/>-->
                </div>
            </div>
        </div>

        <!-- Footer Start -->
        <div th:replace="~{userView/modules/footer}"></div>
        <!-- Footer End -->

        <!-- Back to Top -->
        <a href="#" class="btn btn-primary btn-primary-outline-0 btn-md-square back-to-top"><i class="fa fa-arrow-up"></i></a>   

        
        <!-- JavaScript Libraries -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/userAssets/lib/easing/easing.min.js"></script>
        <script src="/userAssets/lib/waypoints/waypoints.min.js"></script>
        <script src="/userAssets/lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="/userAssets/lib/lightbox/js/lightbox.min.js"></script>
        

        <!-- Template Javascript -->
        <script src="/userAssets/js/main.js"></script>
        <script type="text/javascript" th:inline="javascript">
            $(function() {
                alert('가입 미승인 회원으로 현재 로그인이 불가합니다.\n관리자 승인 후 최종 가입 완료되는 점 안내해드립니다.');
                location.href = '/userView/account/logout';

            });

        </script>
    </body>

</html>